[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/ERC4973"]
	path = lib/ERC4973
	url = https://github.com/rugpullindex/ERC4973
[submodule "lib/chain-claim"]
	path = lib/chain-claim
	url = https://github.com/botdad/chain-claim
