cache/

# Generally, we want to ignore the outputs.
out/
# Unless for the contracts that we're shipping in this repository and their
builds
!out/Badges.sol/Badges.json
!out/BadgeVendor.sol/BadgeVendor.json

node_modules
upload
deploy
verify

# Foundry setup for VS Code users
remappings.txt
.vscode

typechain-types/
artifacts/
cache_hardhat/
.DS_Store