# Developer
.DS_Store
.vscode
.env
.env.badges
.env.raft
# Hardhat
cache/
artifacts/
cache_hardhat/
typechain-types/

# Foundry
out/
# !out/Badges.sol/Badges.json
# !out/Raft.sol/Raft.json
# !out/SpecDataHolder.sol/SpecDataHolder.json

# Project
node_modules
upload
deploy
verify

# OpenZeppelin
.openzeppelin/dev-*.json
.openzeppelin/.session
.openzeppelin/unknown-*.json